/* CSS - Name: "positionstyles.css" */
/* Activity 1 styles */
.content1 {
  /* This is the parent of the activity 1 boxes. */
display:grid;
width:110%;
height:700px;
border:5px solid;
grid-template-columns:1fr 1fr;
justify-items: center;
grid-gap:20px;
}
.red1 { 
  width: 100%; 
  height: 100px; 
  background-color: red;
  grid-column:1/3;

} 
.green1 {
  width: 200px; 
  height: 200px; 
  background-color: green;


} 
.yellow1 {
  width: 200px; 
  height: 200px; 
  background-color: gold; 
} 
.blue1 {
  width: 100%; 
  height: 100px; 
  background-color: blue;
  grid-column:1/3;
} 
/* Activity 2 styles */ 
.content2 {
  /* This is the parent of the activity 2 boxes. */
  display:grid;
  border:10px white;
  grid-template-rows: repeat(4,50px);
  grid-template-columns: repeat(4,50px);
  margin:0;
}
.red2 {
  width: 100px; 
  height: 100px; 
  background-color: red;

} 
.yellow2 { 
  width: 100px; 
  height: 100px; 
  background-color: gold;
  grid-area:2/2;
} 
.green2 {
  width: 100px; 
  height: 100px; 
  background-color: green; 
  grid-area:3/3;
  z-index:5;
} 
.blue2 {
  width: 100px; 
  height: 100px; 
  background-color: blue;
  grid-area:4/4;
  z-index:6;
} 
/* Activity 3 styles */ 
.content3 {
  /* This is the parent of the activity 3 boxes. */
  display:grid;
  grid-template-rows:100px 200px 100px;
  grid-template-columns:25fr 5fr 25fr;
  width:100%;
  border:0px;
}
.red3 {
  width: 100%;
  height: 100px; 
  background-color: red;
  grid-column:1/4;

} 
.green3 {
  width: 100%; 
  height: 200px; 
  background-color: green;
  grid-area:2/1
} 
.yellow3 {
  width: 100%; 
  height: 200px; 
  background-color: gold;
  grid-area:2/3
} 
.blue3 {
  width: 100%;
  height: 100px; 
  background-color: blue; 
  grid-row-start:3;
  grid-column:1/4;

} 
/* Activity 4 styles */ 
.content4 {
  /* This is the parent of the activity 4 boxes. */
  display:grid;
  height: 400px;
  grid-template-rows:repeat(3 1fr);
  grid-template-columns:1fr 1fr;
}
.red4 {
  width: 100%; 
  height: 100%; 
  background-color: red;
  grid-area:1/1/4/1
} 
.green4 {
  width: 100%; 
  height: 100%; 
  background-color: green; 
} 
.yellow4 {
  width: 100%; 
  height: 100%; 
  background-color: gold;
} 
.blue4 {
  width: 100%; 
  height: 100%; 
  background-color: blue;
  grid-column:2/3;
} 
/* Activity 5 styles */ 
.content5 {
  /* This is the parent of the activity 5 boxes. */
  height: 400px;
}
.red5 {
  display:grid;
  grid-template-rows: 100px;
  grid-template-columns:1fr;
  width: 100%; 
  height: 100px; 
  background-color: red;
  grid-area:1/1
} 
.green5 {
  float:left;
  width:100px; 
  height: 100px; 
  background-color: green; 

} 
.yellow5 {
  display:block;
  width: 100%; 
  height: auto; 
  background-color: gold; 
} 
.blue5 {
  display:block;
  width: 100%; 
  height: 100px; 
 background-color:blue;
} 
/* Activity 6 styles */ 
.content6 {
  /* This is the parent of the activity 6 boxes. */
  display:grid;
  border:0;
  height:500px;
  width:500px;
  grid-template-rows:repeat(6,1fr);
  grid-template-columns: repeat(6,1fr);
}
.red6 {
  width: 100%; 
  height: 100%; 
  background-color: red;
  grid-area:1/1/3/4;
  z-index:0;

} 
.green6 {
  width: 100%; 
  height: 100%; 
  background-color: green;
  grid-area:6/1/4/3;
  z-index:3;
} 
.yellow6 {
  width: 100%; 
  height: 100%; 
  background-color: gold;
  grid-area:3/4/6/6;
  z-index:3;
} 
.blue6 {
  width: 100%; 
  height: 100%; 
  background-color: blue;
  grid-area:2/2/5/5;
  z-index:1;
} 


/* Do not make any changes below here */
.activity {
  width: 70%; 
  margin: 20px auto; 
  font-family: Arial, sans-serif; 
  border: 1px solid black; 
  padding: 10px; 
  clear:both; 
  overflow: auto;
} 

.hint {
  border: 1px solid grey;
  background: #e0e0e0;
  padding: .5em;
  position: relative;
  margin: 1em 0;
}
.hint h3 {
  margin: 0;
}
.hint:hover {
  background: #d0d0d0;
}
.hint > div {
  display: none;
}

.hint input[type=checkbox] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.hint input[type=checkbox]:checked ~ div {
  display: block;
}

.hint i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 10px;
  top: -3px;
}
.hint i:before, .hint i:after {
  content: "";
  position: absolute;
  background-color: black;
  width: 3px;
  height: 9px;
}
.hint i:before {
  transform: translate(2px, 0) rotate(45deg);
}
.hint i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

.hint input[type=checkbox]:checked ~ i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
.hint input[type=checkbox]:checked ~ i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
.hint a {
  position: relative;
  z-index: 1;
}